.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* scrollbar modification */
::-webkit-scrollbar{
  width: 12px;
}

/* track  */
::-webkit-scrollbar-track{
  background-color: rgb(254, 227, 191);
}
/* handle  */
::-webkit-scrollbar-thumb{
  background-color: #c35a0e;
  border: #282c34;
  box-shadow: inset;
}
/* handle on hover  */
/* track  */
::-webkit-scrollbar-track:hover{
  background-color: rgb(245, 201, 142);
}
/* handle  */
::-webkit-scrollbar-thumb:hover{
  background-color: #F97316;
  border: #282c34;
  box-shadow: inset;
}